<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <TargetId>AzDevAppService</TargetId>
    <ResourceId>/subscriptions/9d2d02a6-6b37-4616-b373-192845947463/resourceGroups/POC-Cosmos-DBrg/providers/Microsoft.Web/sites/POC-Cosmos-DBapi</ResourceId>
    <ResourceGroup>POC-Cosmos-DBrg</ResourceGroup>
    <SiteUrlToLaunchAfterPublish>https://POC-Cosmos-DBapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
  </PropertyGroup>
</Project>